<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
    /* Set additional styling options for the columns*/
    .column3 {
    float: left;
    width: 30%;
    padding: 5px;
    }
    .column23 {
    float: left;
    width: 60%;
    padding: 5px;
    }
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    .border-right {
        border-right: 1px solid black;
    }
    .col {
    float: left;
    }
    </style>
 </head>
  <body>

    <h1>{{ tournament_name }} (Live): details</h1>
    Date: {{ tournament.date }} <br>

    <hr>
    <p>{{ debug_message }}</p>
    <hr>

    <div class="row">
      <div class="column3">

        <form method="post" action="{{ url_for('live_tournament_details', user_name=user_name, tournament_name=tournament_name ) }}">
            <strong>Active participants:</strong> <button type="submit" name="submit_button" value="active">Join as active</button><br>
        </form>
        {% for name in active_participants %}
            {{ name }}<br>
        {% endfor %}

      </div>

      <div class="column3">

        <form method="post" action="{{ url_for('live_tournament_details', user_name=user_name, tournament_name=tournament_name ) }}">
            <strong>Passive particpants:</strong> <button type="submit" name="submit_button" value="passive">Join as passive</button><br>
        </form>
        {% for name in passive_participants %}
            {{ name }}<br>
        {% endfor %}

      </div>

      <div class="column3">

        <form method="post" action="{{ url_for('tournaments_list', user_name=user_name) }}">
          <button type="submit">Back</button><br>
        </form>

        <form action="" method="post" style="visibility:{{ admin_visibility }}">
            <button type="submit" name="submit_button" value="start_tournament" onclick="confirm_starttourn(event)">Start tournament</button><br>
            <script>
            function confirm_starttourn(e)
            {
                if(!confirm('Are you sure you\'re ready to start?')) {
                    e.preventDefault();
                }
            }
            </script>
        </form>

        <form action="" method="post" style="visibility:{{ close_visibility }}">
          <button type="submit" name="submit_button" value="close_tournament" onclick="confirm_closetourn(event)">Close tournament</button><br>
          <script>
          function confirm_closetourn(e)
          {
              if(!confirm('Are you sure you\'re ready to close?')) {
                  e.preventDefault();
              }
          }
          </script>
      </form>

      </div>
    </div>

    <hr>

    <div class="row">
      <div class="column23">
        <h2>Tournament Bracket</h2>
      </div>
      <div class="column3">
        <h2>Tournament Odds</h2>
      </div>
    </div>
    
    <div class="row">
      <div class="column3 border-right" style="text-align: right">
        {% autoescape false %}
          {{ winners_bracket_txt }}
        {% endautoescape %}
      </div>
      <div class="column3" style="text-align: left" >
        {% autoescape false %}
          {{ losers_bracket_txt }}
        {% endautoescape %}
      </div>
      <div class="column3">
        {% autoescape false %}
          {{ tournament_odds_txt }}
        {% endautoescape %}
      </div>
    </div>

    <hr>

    <h2>Enter Result</h2>
    <form action="" method="post" style="visibility:{{ admin_visibility }}">
      Winner: <select name="new_winner">
          {% for player in active_players %}
            <option value="{{player}}">{{player}}</option>"
          {% endfor %}
        </select>
      Loser: <select name="new_loser">
          {% for player in active_players %}
            <option value="{{player}}">{{player}}</option>"
          {% endfor %}
        </select>
      MOV: <select name="new_mov">
          <option value="1">1</option>"
          <option value="2">2</option>"
          <option value="3">3</option>"
        </select>
      <button type="submit" name="submit_button" value="new_match_result" onclick="confirm_newmatch(event)">Enter</button><br>
            <script>
            function confirm_newmatch(e)
            {
                if(!confirm('Confirm new match result')) {
                    e.preventDefault();
                }
            }
            </script>
    </form>

    <hr>

    <h2>Active Matches</h2>

    {% for active_match in active_match_txts %}
      {% autoescape false %}
      <div class="row" style='width:100%'>
        {{ active_match }}
      </div>
      <div class="row" style='width:100%'>
        <div class="col border-right" style="text-align:right;width:calc( 25% - 37.5px )">
          {{ stats[loop.index0] }}
        </div>
        <div class="col border-right" style="text-align:center;width:150px">
          {{ left_txts[loop.index0] }}
        </div>
        <div class="col" style="text-align:center;width:150px" >
          {{ right_txts[loop.index0] }}
          {% endautoescape %}
        </div>
      </div>
      <br>
    {% endfor %}
    
  </body>
</html>