<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>Manage accounts</h1>
    <hr>

    <form action="" method="post">

      <select name="account_name" id="account_name">
        <option value="" disabled selected>Account username</option>
        {% for each in account_list %}
          <option value="{{each}}">{{each}}</option>
        {% endfor %}
      </select>

      <hr>

      Admin: <input type="text" name="isadmin"> <br>
      Rating: <input type="text" name="rating"> <br>
      Rating history: <input type="text" name="rating_history"> <br>
      Coin: <input type="text" name="coin"> <br>
      Coin history: <input type="text" name="coin_history"> <br>
      Rewards: <input type="text" name="rewards"> <br>
      Tournaments: <input type="text" name="tournaments"> <br>
      Tournament wins: <input type="text" name="tournament_wins"> <br>
      Handicap: <input type="text" name="handicap"> <br>
      Handicap history: <input type="text" name="handicap_history"> <br>
      Record: <input type="text" name="record"> <br>
      Show: <input type="text" name="show"> <br>
      <button type="submit" name="submit_button" value="update" onclick="confirm_update(event)">Update</button>
      <script>
        function confirm_update(e)
        {
          name = document.getElementById('account_name').value
            if(!confirm('Are you sure you wish to update this account: ' + name + '?')) {
                e.preventDefault();
            }
        }
        </script>
    </form>

    <hr>

    <form method="post" action="">
      New account name: <input type="text" name="new_account_name" id="new_account_name">
      <button type="submit" name="submit_button" value="create" onclick="confirm_new(event)">Create Account</button>
      <script>
        function confirm_new(e)
        {
          name = document.getElementById('new_account_name').value
            if(!confirm('Are you sure you wish to create a new account: ' + name + '?')) {
                e.preventDefault();
            }
        }
        </script>
    </form>
    
    <hr>

    <form action="" method="post">

      <select name="account_to_delete" id="account_to_delete">
        <option value="" disabled selected>Account to delete</option>
        {% for each in account_list %}
          <option value="{{each}}">{{each}}</option>
        {% endfor %}
      </select>
      <button type="submit" name="submit_button" value="delete_account" onclick="confirm_delete_account(event)">Delete account</button>
      <script>
        function confirm_delete_account(e)
        {
          name = document.getElementById('account_to_delete').value
            if(!confirm('Are you sure you wish to delete this account: ' + name + '?')) {
                e.preventDefault();
            }
        }
        </script>
    </form><br>

    <form action="" method="post">

      <select name="tournament_to_delete" id="tournament_to_delete">
        <option value="" disabled selected>Tournament to delete</option>
        {% for each in tournament_list %}
          <option value="{{each}}">{{each}}</option>
        {% endfor %}
      </select>
      <button type="submit" name="submit_button" value="delete_tournament" onclick="confirm_delete_tournament(event)">Delete tournament</button>
      <script>
        function confirm_delete_tournament(e)
        {
          name = document.getElementById('tournament_to_delete').value
            if(!confirm('Are you sure you wish to delete this tournament: ' + name + '?')) {
                e.preventDefault();
            }
        }
        </script>
    </form>

    <hr>

    <form method="post" action="{{ url_for('account_stats', user_name=user_name) }}">
      <button type="submit">Back</button>
    </form>

    {{ debug_message }}
  </body>
</html>