<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
    /* Set additional styling options for the columns*/
    .column3 {
    float: left;
    width: 30%;
    padding: 5px;
    }

    .column23 {
    float: left;
    width: 60%;
    padding: 5px;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }

    .border-right {
        border-right: 1px solid black;
    }

    </style>
 </head>
  <body>

    <h1>{{ tournament_name }}: details</h1>

    Date: {{ tournament.date }} <br>
    Overall Winner: {{ tournament.winner }} <br>
    Seed: {{ seed }} <br>

    <hr>
    <p>{{ debug_message }}</p>
    <hr>

    <div>
      <form method="post" action="{{ url_for('tournaments_list', user_name=user_name) }}">
        <button type="submit">Back</button>
      </form>
    </div>

    <hr>

    <div class="row">
      <div class="column23">
        <h2>Tournament Bracket</h2>
      </div>
      <div class="column3">
        <h2>Tournament Odds</h2>
      </div>
    </div>

    <div class="row">
      <div class="column3 border-right" style="text-align: right">
        {% autoescape false %}
          {{ winners_bracket_txt }}
        {% endautoescape %}
      </div>
      <div class="column3" style="text-align: left" >
        {% autoescape false %}
          {{ losers_bracket_txt }}
        {% endautoescape %}
      </div>
      <div class="column3">
        {% autoescape false %}
          {{ tournament_odds_txt }}
        {% endautoescape %}
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="column3">
      
      <h2>Tournament Bets</h2>
      {% autoescape false %}
        {{tournament_bet_txt}}
      {% endautoescape %}

      </div>

      <div class="column23">

      <h2>Matches</h2>
      MOV: margin of victory<br>
      <br>
      {% autoescape false %}
        {{match_txt}}
      {% endautoescape %}
      <br>

      </div>

    </div>
    <hr>
    <div>
      <h2>Tournament Log</h2>
      {% for line in tournament_log %}
        {{line}}<br>
      {% endfor %}
    </div>
    
  </body>
</html>