<html>
  <head>

 </head>
  <body>
    
    <h1>Tournaments</h1>
    <hr>
    <form method="post" action="{{ url_for('account_stats', user_name=user_name) }}">
      <button type="submit">Back</button>
    </form>
    <hr>
    {{ debug_message }}
    <hr>
    <h2>Live</h2>

    <form action="" method="post" style="visibility:{{ visibility }}">
      Create new: <input type="text" name="new_tournament_name">
      <input type="submit" name="create" value="Create">
    </form>

    {% for tourn in live_tourns %}
      <form method="post" action="{{ url_for('live_tournament_details', user_name=user_name, tournament_name=tourn.name.replace(" ", "_")) }}">
        {{ tourn.name.replace("_"," ") }} - ({{ tourn.date }}) <button type="submit">Details</button><br>
      </form>
    {% endfor %}

    <hr>
    <h2>Previous</h2>

    {% for tourn in previous_tourns %}
      <form method="post" action="{{ url_for('previous_tournament_details', user_name=user_name, tournament_name=tourn.name.replace(" ", "_")) }}">
        {{ tourn.name.replace("_"," ") }} - ({{ tourn.date }}): Winner: {{ tourn.winner }} <button type="submit">Details</button><br>
      </form>
    {% endfor %}

    <hr>
  
  </body>
</html>